/*side bar css*/

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #007bff;
}


/*headeer css with logout button*/

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  position: relative;
}

.dashboard-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.logout-button,
.user-button {
  background-color: white;
  color: #007bff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.qr-popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: white;
  padding: 20px;
  border: 2px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  text-align: center;
  border-radius: 10px;
}

.qr-popup-content img {
  margin: 10px 0;
}

.close-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}