<h2 class="form-heading">📝 User Registration</h2>

<form (ngSubmit)="register()" class="register-form">
  <div>
    <label>Name:</label>
    <input [(ngModel)]="user.name" name="name" required />
  </div>

  <div>
    <label>Email:</label>
    <input [(ngModel)]="user.email" name="email" type="email" required />
  </div>

  <div>
    <label>Password:</label>
    <input [(ngModel)]="user.password" name="password" type="password" required />
  </div>

  <div>
    <label>Role:</label>
    <select [(ngModel)]="user.role" name="role">
      <option value="Viewer">Viewer</option>
      <option value="Editor">Editor</option>
      <option value="Admin">Admin</option>
    </select>
  </div>

  <button type="submit">Register</button>
  <p class="center-link">
  Already have an account? <a routerLink="/login">Login</a>
</p>


  

  
</form>

